<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ping!</title>
  </head>
  <body>
    <form action="/result" >
      <label for="stringWords">Enter string Here:</label>
      <input type="text" id="stringWords" name="stringWords">
      <button type="submit" name="button">Enter!</button>
    </form>


  </body>
</html>
